<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.oscarapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OscarApp">
        <activity android:name=".activity.ConfirmarActivity"></activity>
        <activity android:name=".activity.DetalheFilme" />
        <activity android:name=".activity.BoasVindasActivity" />
        <activity android:name=".activity.ListaFilme" />
        <activity android:name=".activity.DiretorActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.ValidavotoActivity" />
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>